<main class="container">
    <div class="row g-5">
      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Novo produto</h4>
        <form enctype="multipart/form-data" (ngSubmit)="cadastrarProduto()" [formGroup]="produtoForm">
          <div class="row g-3">
            <div class="alert alert-danger" *ngIf="errors.length > 0">
              <h5 id="msgRetorno">Opa! Algo deu errado, tente novamente</h5>
              <ul>
                <li *ngFOr="let error of errors">{{ error }}</li>
              </ul>
            </div>
            <div class="col-12">
              <label for="Nome" class="form-label">Nome</label>
              <input formControlName="nome" type="text" class="form-control" data-val="true" 
              data-val-length="O campo Nome precisa ter entre 2 e 200 caracteres" data-val-length-max="200"
              data-val-length-min="2" data-val-required="O campo Nome é obrigatório" maxlength="200" name="Nome"
              id="Nome" value="">
              <span class="text-danger field-validation-valid" data-valmsg-for="Nome" data-valmsg-replace="true"></span>
            </div>

            <div class="col-12">
              <label for="Descricao" class="form-label">Descrição</label>
              <textarea formControlName="descricao" type="text" class="form-control" data-val="true"
              data-val-length="O campo Nome precisa ter entre 2 e 1000 caracteres" data-val-length-max="1000"
              data-val-length-min="2" data-val-required="O campo Descrição é obrigatório" maxlength="1000"
              name="Descricao" id="Descricao"></textarea>
              <span class="text-danger field-validation-valid" data-valmsg-for="Descricao" data-valmsg-replace="true"></span>
            </div>
            
            <div class="col-12">
              <label for="ImagemUpload" class="form-label">Imagem do produto</label>
              <input accept="image/jpeg" #fileInput (change)="upload(fileInput.files)" formControlName="ImagemUpload"
              type="file" class="custom-file-input" id="ImagemUpload" name="ImagemUpload" data-val="true"
              data-val-required="Preencha o campo Imagem">
              <label data-browse="Procurar" style="width: 400 px;" class="custom-file-label" for="ImagemUpload"></label>
              <label *ngIf="imagemNome" id="img_nome">{{ imagemNome }}</label>
            </div>

            <span class="text-danger field-validation-valid" data-valmsg-for="ImagemUpload" data-valmsg-replace="true"></span>

            <div class="col-12">
              <label for="Valor" class="form-label">Valor</label>
              <input formControlName="valor" type="text" class="form-control" id="Valor" data-val="true"
              data-val-moeda="Moeda em formato inválida" data-val-number="Moeda em formato inválido"
              data-val-required="O campo Valor é obrigatório" name="Valor" value="0,00">
              <span class="text-danger field-validation-valid" data-valmsg-for="Valor" data-valmsg-replace="true"></span>
            </div>

            <div class="col-md-5">
              <label for="FornecedorId" class="form-label">Fornecedor</label>
              <select class="form-control" data-val="true" formControlName="FornecedorId"
               id="FornecedorId" data-val-required="O campo fornecedor é obrigatório" name="FornecedorId">
                <option></option>
                <option *ngFor='let fornecedor of fornecedores' value="{{ fornecedor.id }}">{{ fornecedor.nome }}</option>
              </select>
            </div>

          </div>

          <hr class="my-4">

          <div class="form-group form-check">
            <label class="form-check-label">
            <input formControlName="ativo" type="checkbox" class="form-check-input" id="Ativo" name="Ativo" 
            value="true" data-val="true" data-val-required="O campo Ativo é obrigatório"> Ativo?
          </label>
          </div>

          <hr class="my-4">

          <button class="w-100 btn btn-apiMarket btn-lg" type="submit" value="Cadastrar">Cadastrar</button>
        </form>
      </div>
    </div>
</main>
