<!-- Navegation -->
<nav class=" navbar d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><a [routerLink]="['/home']" class="nav-link gradient px-2">Home</a></li>
      <li><a [routerLink]="['/cadastrar-produto']" class="nav-link gradient px-2">Cadastrar</a></li>
      <li><a [routerLink]="['/lista-produtos']" class="nav-link gradient px-2">Produtos</a></li>
      <li><a href="#" class="nav-link gradient px-2">FAQs</a></li>
      <li><a href="#" class="nav-link gradient px-2">About</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <button type="button" class="btn btn-outline-apiMarket me-2">Login</button>
      <button type="button" class="btn btn-apiMarket">Cadastrar-se</button>
    </div>
</nav>
<!-- End Navegation-->
